openapi: 3.0.3
info:
  title: Resisen API
  description: |
    Hackathon MVP API for Resisen — an AI-powered tourism marketplace.
    Supports customer discovery, saved experiences, booking requests, and provider listings.
    Data is stored in AWS DynamoDB.
  version: 1.0.0
  contact:
    name: Resisen

servers:
  - url: https://resisen.ispeed.pro
    description: Production server
  - url: http://localhost:5500
    description: Local development

tags:
  - name: Health
    description: Service health checks
  - name: Auth
    description: Registration, login, and session
  - name: Experiences
    description: Browse, search, and manage experience listings
  - name: Itineraries
    description: AI itinerary generation, checkpoints, and trip lifecycle
  - name: Destinations
    description: Featured and browsable destinations
  - name: Bookings
    description: Booking requests and status updates
  - name: Saved Experiences
    description: Customer wishlist / saved experiences
  - name: Providers
    description: Provider applications, dashboards, and public profiles
  - name: Admin
    description: Admin dashboard and provider application review
  - name: Users
    description: Customer dashboard

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /api/auth/register:
    post:
      tags: [Auth]
      summary: Register a new customer or provider account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/auth/me:
    get:
      tags: [Auth]
      summary: Get the authenticated user profile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/PublicUser"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/experiences:
    get:
      tags: [Experiences]
      summary: Browse and search published experiences
      parameters:
        - $ref: "#/components/parameters/destination"
        - $ref: "#/components/parameters/category"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/featured"
        - $ref: "#/components/parameters/minPrice"
        - $ref: "#/components/parameters/maxPrice"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: Paginated list of experiences
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/PaginatedExperiences"
    post:
      tags: [Experiences]
      summary: Create a new experience listing (provider only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExperienceRequest"
      responses:
        "201":
          description: Experience created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Experience"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/experiences/featured:
    get:
      tags: [Experiences]
      summary: Get featured experiences for the homepage
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 20
      responses:
        "200":
          description: Featured experiences
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Experience"

  /api/experiences/recommendations:
    post:
      tags: [Experiences]
      summary: AI experience recommendations for a destination
      description: |
        Describe your trip in free text; Claude (Amazon Bedrock) returns the
        experiences in that destination that match the description. Returns only
        genuine matches (the list may be empty).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecommendExperiencesRequest"
      responses:
        "200":
          description: Matching experiences (relevance order)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      recommended:
                        type: array
                        items:
                          $ref: "#/components/schemas/Experience"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/experiences/{experienceId}:
    get:
      tags: [Experiences]
      summary: Get experience details
      parameters:
        - $ref: "#/components/parameters/experienceId"
      responses:
        "200":
          description: Experience details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Experience"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Experiences]
      summary: Update an experience listing (owner provider or admin)
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/experienceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExperienceRequest"
      responses:
        "200":
          description: Experience updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Experience"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/itineraries/generate:
    post:
      tags: [Itineraries]
      summary: Build a draft itinerary from chosen experiences (not saved)
      description: |
        AI-sequences the chosen experiences into a coherent journey sized to the
        trip duration (the model picks how many stops fit and orders them). Returns
        a draft only — nothing is persisted until it is saved or started.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateItineraryRequest"
      responses:
        "200":
          description: Draft itinerary (not persisted)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      itinerary:
                        $ref: "#/components/schemas/Itinerary"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/itineraries:
    post:
      tags: [Itineraries]
      summary: Save (not_started) or Start (in_progress) an itinerary
      description: |
        Persists the previewed itinerary, rebuilt from the experience ids (no AI
        re-call). `start: true` begins the trip immediately (first checkpoint
        active); otherwise it is saved as not_started.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveItineraryRequest"
      responses:
        "201":
          description: Itinerary persisted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Itinerary"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"
    get:
      tags: [Itineraries]
      summary: List the authenticated user's itineraries (any status)
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: Paginated itineraries (newest first)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/PaginatedItineraries"

  /api/itineraries/current:
    get:
      tags: [Itineraries]
      summary: The most recent in_progress itinerary (or null)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current itinerary, or null if none in progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    nullable: true
                    allOf:
                      - $ref: "#/components/schemas/Itinerary"

  /api/itineraries/{itineraryId}:
    get:
      tags: [Itineraries]
      summary: Get one itinerary
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/itineraryId"
      responses:
        "200":
          description: Itinerary
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Itinerary"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Itineraries]
      summary: Delete an itinerary
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/itineraryId"
      responses:
        "200":
          description: Itinerary deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/itineraries/{itineraryId}/start:
    patch:
      tags: [Itineraries]
      summary: Start a saved (not_started) itinerary
      description: Activates the first checkpoint and moves the trip to in_progress.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/itineraryId"
      responses:
        "200":
          description: Itinerary started (or already in_progress)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Itinerary"
        "400":
          description: Itinerary already completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/itineraries/{itineraryId}/checkpoints/{checkpointId}/complete:
    patch:
      tags: [Itineraries]
      summary: Complete the active checkpoint and unlock the next
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/itineraryId"
        - name: checkpointId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Checkpoint completed; next one unlocked (or trip completed)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Itinerary"
        "400":
          description: Checkpoint is locked, or the itinerary has not been started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/destinations:
    get:
      tags: [Destinations]
      summary: List destinations
      parameters:
        - name: featured
          in: query
          schema:
            type: boolean
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: Paginated destinations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/PaginatedDestinations"
    post:
      tags: [Destinations]
      summary: Create a destination (admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDestinationRequest"
      responses:
        "201":
          description: Destination created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Destination"

  /api/destinations/featured:
    get:
      tags: [Destinations]
      summary: Get featured destinations for the homepage
      responses:
        "200":
          description: Featured destinations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Destination"

  /api/destinations/{slug}:
    get:
      tags: [Destinations]
      summary: Get destination details by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: lagos
      responses:
        "200":
          description: Destination details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Destination"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/bookings:
    post:
      tags: [Bookings]
      summary: Create a booking request for an experience
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBookingRequest"
      responses:
        "201":
          description: Booking request created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Booking"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"
    get:
      tags: [Bookings]
      summary: List bookings for the authenticated user or provider
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: Paginated bookings
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/PaginatedBookings"

  /api/bookings/{bookingId}:
    get:
      tags: [Bookings]
      summary: Get booking details
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/bookingId"
      responses:
        "200":
          description: Booking details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Booking"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/bookings/{bookingId}/status:
    patch:
      tags: [Bookings]
      summary: Update booking status (provider or admin)
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/bookingId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBookingStatusRequest"
      responses:
        "200":
          description: Booking status updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Booking"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/saved:
    get:
      tags: [Saved Experiences]
      summary: List saved experiences for the authenticated customer
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Saved experiences with full details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Experience"

  /api/saved/{experienceId}:
    post:
      tags: [Saved Experiences]
      summary: Save an experience (add to wishlist)
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/experienceId"
      responses:
        "201":
          description: Experience saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/SavedExperience"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Saved Experiences]
      summary: Remove a saved experience
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/experienceId"
      responses:
        "200":
          description: Experience removed from saved list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Experience removed from saved list

  /api/providers/application:
    post:
      tags: [Providers]
      summary: Submit a provider application with CAC and company details
      description: |
        Register as a provider user first, then submit company details including CAC number.
        Application status starts as `pending` until an admin approves or rejects it.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProviderApplicationRequest"
      responses:
        "201":
          description: Provider application submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: "#/components/schemas/Provider"
        "409":
          description: Provider application already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/providers/me/dashboard:
    get:
      tags: [Providers]
      summary: Provider dashboard with application status, experiences, and bookings
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Provider dashboard data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/ProviderDashboardResponse"

  /api/providers/me/experiences:
    get:
      tags: [Providers]
      summary: List all experiences owned by the authenticated provider
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Provider-owned experiences including drafts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/PaginatedExperiences"

  /api/providers/me:
    get:
      tags: [Providers]
      summary: Get the authenticated provider profile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Provider profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Provider"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/providers/{providerId}:
    get:
      tags: [Providers]
      summary: Get a provider public profile
      parameters:
        - $ref: "#/components/parameters/providerId"
      responses:
        "200":
          description: Provider profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/PublicProvider"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/providers/{providerId}/experiences:
    get:
      tags: [Providers]
      summary: List experiences offered by a provider
      parameters:
        - $ref: "#/components/parameters/providerId"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Provider experiences
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/PaginatedExperiences"

  /api/admin/dashboard:
    get:
      tags: [Admin]
      summary: Admin dashboard overview
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Admin dashboard stats and recent pending applications
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/AdminDashboardResponse"

  /api/admin/providers/applications:
    get:
      tags: [Admin]
      summary: List provider signup applications
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/ProviderApplicationStatus"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: Paginated provider applications
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/PaginatedProviders"

  /api/admin/providers/applications/{providerId}:
    get:
      tags: [Admin]
      summary: Get a provider application detail including CAC info
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/providerId"
      responses:
        "200":
          description: Provider application detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Provider"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/admin/providers/applications/{providerId}/review:
    patch:
      tags: [Admin]
      summary: Approve or reject a provider application
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/providerId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewProviderApplicationRequest"
      responses:
        "200":
          description: Application reviewed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Provider"
        "409":
          description: Application was already reviewed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/users/me/dashboard:
    get:
      tags: [Users]
      summary: Customer dashboard with bookings and saved experiences
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Dashboard summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/DashboardResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token from /api/auth/login or /api/auth/register

  parameters:
    experienceId:
      name: experienceId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    itineraryId:
      name: itineraryId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    bookingId:
      name: bookingId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    providerId:
      name: providerId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    destination:
      name: destination
      in: query
      schema:
        type: string
      example: Lagos
    category:
      name: category
      in: query
      schema:
        $ref: "#/components/schemas/ExperienceCategory"
    search:
      name: search
      in: query
      schema:
        type: string
    featured:
      name: featured
      in: query
      schema:
        type: boolean
    minPrice:
      name: minPrice
      in: query
      schema:
        type: number
    maxPrice:
      name: maxPrice
      in: query
      schema:
        type: number
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 50
    cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: Pagination cursor from a previous response

  responses:
    Unauthorized:
      description: Authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationErrorResponse"

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        service:
          type: string
          example: get-your-tour-api

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string

    ValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Validation failed
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

    UserRole:
      type: string
      enum: [customer, provider, admin]

    ExperienceCategory:
      type: string
      enum:
        - adventure
        - relaxation
        - nightlife
        - cultural
        - wildlife
        - water_sports
        - romantic
        - family_friendly

    ExperienceStatus:
      type: string
      enum: [draft, published, archived]

    BookingStatus:
      type: string
      enum: [pending, confirmed, cancelled, completed]

    PublicUser:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        role:
          $ref: "#/components/schemas/UserRole"
        phone:
          type: string
        createdAt:
          type: string
          format: date-time

    RegisterRequest:
      type: object
      required: [email, password, firstName, lastName]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        role:
          $ref: "#/components/schemas/UserRole"
          default: customer

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            user:
              $ref: "#/components/schemas/PublicUser"
            token:
              type: string
              description: JWT bearer token

    Experience:
      type: object
      properties:
        experienceId:
          type: string
          format: uuid
        providerId:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        destination:
          type: string
        destinationSlug:
          type: string
        category:
          $ref: "#/components/schemas/ExperienceCategory"
        eventDate:
          type: string
          format: date-time
          description: When the experience or event takes place
        numberOfDays:
          type: integer
          minimum: 1
          description: Duration of the experience in days
        price:
          type: number
        currency:
          type: string
          example: NGN
        duration:
          type: string
          example: 3 days
        maxGroupSize:
          type: integer
        images:
          type: array
          items:
            type: string
            format: uri
        featured:
          type: boolean
        status:
          $ref: "#/components/schemas/ExperienceStatus"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateExperienceRequest:
      type: object
      required:
        - title
        - description
        - destination
        - category
        - eventDate
        - numberOfDays
        - price
        - maxGroupSize
      properties:
        title:
          type: string
          minLength: 3
        description:
          type: string
          minLength: 10
        destination:
          type: string
        category:
          $ref: "#/components/schemas/ExperienceCategory"
          description: Event or experience type
        eventDate:
          type: string
          format: date-time
        numberOfDays:
          type: integer
          minimum: 1
        price:
          type: number
          minimum: 0
        currency:
          type: string
          default: NGN
        duration:
          type: string
          description: Optional display label; defaults to numberOfDays
        maxGroupSize:
          type: integer
          minimum: 1
        images:
          type: array
          items:
            type: string
            format: uri
        featured:
          type: boolean
          default: false
        status:
          type: string
          enum: [draft, published]
          default: draft

    UpdateExperienceRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        destination:
          type: string
        category:
          $ref: "#/components/schemas/ExperienceCategory"
        price:
          type: number
        currency:
          type: string
        duration:
          type: string
        maxGroupSize:
          type: integer
        images:
          type: array
          items:
            type: string
            format: uri
        featured:
          type: boolean
        status:
          $ref: "#/components/schemas/ExperienceStatus"

    PaginatedExperiences:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Experience"
        nextCursor:
          type: string

    DurationUnit:
      type: string
      enum: [hours, days, weeks, months]

    CheckpointStatus:
      type: string
      enum: [locked, active, completed]

    ItineraryStatus:
      type: string
      enum: [not_started, in_progress, completed]

    ItineraryCheckpoint:
      type: object
      properties:
        checkpointId:
          type: string
          format: uuid
        order:
          type: integer
          description: 1-based position in the journey
        experienceId:
          type: string
          format: uuid
        title:
          type: string
          description: Snapshot of the experience title
        price:
          type: number
        imageUrl:
          type: string
        status:
          $ref: "#/components/schemas/CheckpointStatus"
        completedAt:
          type: string
          format: date-time

    Itinerary:
      type: object
      properties:
        itineraryId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        destination:
          type: string
        destinationSlug:
          type: string
        prompt:
          type: string
          description: The free-text description that generated the trip
        durationValue:
          type: integer
        durationUnit:
          $ref: "#/components/schemas/DurationUnit"
        checkpoints:
          type: array
          items:
            $ref: "#/components/schemas/ItineraryCheckpoint"
        totalPrice:
          type: number
        currency:
          type: string
        status:
          $ref: "#/components/schemas/ItineraryStatus"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PaginatedItineraries:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Itinerary"
        nextCursor:
          type: string

    RecommendExperiencesRequest:
      type: object
      required: [destinationSlug, prompt]
      properties:
        destinationSlug:
          type: string
          example: lagos
        prompt:
          type: string
          minLength: 3
          maxLength: 1000
          example: I love art, slow coffee and a romantic evening — no extreme sports

    GenerateItineraryRequest:
      type: object
      required:
        - destinationSlug
        - prompt
        - experienceIds
        - durationValue
        - durationUnit
      properties:
        destinationSlug:
          type: string
        prompt:
          type: string
          minLength: 3
          maxLength: 1000
        experienceIds:
          type: array
          description: Experience ids to build from (e.g. the recommended ones)
          items:
            type: string
            format: uuid
          minItems: 1
          maxItems: 10
        durationValue:
          type: integer
          minimum: 1
          maximum: 365
        durationUnit:
          $ref: "#/components/schemas/DurationUnit"

    SaveItineraryRequest:
      allOf:
        - $ref: "#/components/schemas/GenerateItineraryRequest"
        - type: object
          properties:
            start:
              type: boolean
              default: false
              description: true = Start (in_progress); false = Save (not_started)
            itineraryId:
              type: string
              format: uuid

    Destination:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        country:
          type: string
        description:
          type: string
        imageUrl:
          type: string
          format: uri
        featured:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateDestinationRequest:
      type: object
      required: [name, country, description, imageUrl]
      properties:
        name:
          type: string
        country:
          type: string
        description:
          type: string
        imageUrl:
          type: string
          format: uri
        featured:
          type: boolean
          default: false
        slug:
          type: string

    PaginatedDestinations:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Destination"
        nextCursor:
          type: string

    Booking:
      type: object
      properties:
        bookingId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        experienceId:
          type: string
          format: uuid
        experienceTitle:
          type: string
        providerId:
          type: string
          format: uuid
        requestedDate:
          type: string
          format: date-time
        groupSize:
          type: integer
        totalPrice:
          type: number
        currency:
          type: string
        status:
          $ref: "#/components/schemas/BookingStatus"
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateBookingRequest:
      type: object
      required: [experienceId, requestedDate, groupSize]
      properties:
        experienceId:
          type: string
          format: uuid
        requestedDate:
          type: string
          format: date-time
        groupSize:
          type: integer
          minimum: 1
        notes:
          type: string
          maxLength: 500

    UpdateBookingStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          $ref: "#/components/schemas/BookingStatus"

    PaginatedBookings:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Booking"
        nextCursor:
          type: string

    SavedExperience:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        experienceId:
          type: string
          format: uuid
        savedAt:
          type: string
          format: date-time

    ProviderApplicationStatus:
      type: string
      enum: [pending, approved, rejected]

    Provider:
      type: object
      properties:
        providerId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        businessName:
          type: string
        description:
          type: string
        location:
          type: string
        businessAddress:
          type: string
        companyEmail:
          type: string
          format: email
        companyPhone:
          type: string
        cacNumber:
          type: string
          description: Corporate Affairs Commission registration number
        cacDocumentUrl:
          type: string
          format: uri
        applicationStatus:
          $ref: "#/components/schemas/ProviderApplicationStatus"
        rejectionReason:
          type: string
        reviewedBy:
          type: string
          format: uuid
        reviewedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PublicProvider:
      type: object
      properties:
        providerId:
          type: string
          format: uuid
        businessName:
          type: string
        description:
          type: string
        location:
          type: string
        createdAt:
          type: string
          format: date-time

    CreateProviderApplicationRequest:
      type: object
      required:
        - businessName
        - description
        - location
        - businessAddress
        - companyEmail
        - companyPhone
        - cacNumber
      properties:
        businessName:
          type: string
        description:
          type: string
        location:
          type: string
        businessAddress:
          type: string
        companyEmail:
          type: string
          format: email
        companyPhone:
          type: string
        cacNumber:
          type: string
        cacDocumentUrl:
          type: string
          format: uri

    ReviewProviderApplicationRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [approved, rejected]
        rejectionReason:
          type: string
          description: Required when status is rejected

    PaginatedProviders:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Provider"
        nextCursor:
          type: string

    ProviderDashboardResponse:
      type: object
      properties:
        profile:
          $ref: "#/components/schemas/Provider"
        applicationStatus:
          $ref: "#/components/schemas/ProviderApplicationStatus"
        canManageExperiences:
          type: boolean
        experiences:
          type: array
          items:
            $ref: "#/components/schemas/Experience"
        recentBookings:
          type: array
          items:
            $ref: "#/components/schemas/Booking"
        stats:
          type: object
          properties:
            totalExperiences:
              type: integer
            publishedExperiences:
              type: integer
            draftExperiences:
              type: integer
            pendingBookings:
              type: integer

    AdminDashboardResponse:
      type: object
      properties:
        stats:
          type: object
          properties:
            pendingApplications:
              type: integer
            approvedProviders:
              type: integer
            rejectedApplications:
              type: integer
        recentPendingApplications:
          type: array
          items:
            $ref: "#/components/schemas/Provider"

    CreateProviderRequest:
      deprecated: true
      description: Use CreateProviderApplicationRequest via POST /api/providers/application
      type: object
      properties:
        businessName:
          type: string
        description:
          type: string
        location:
          type: string

    DashboardResponse:
      type: object
      properties:
        recentBookings:
          type: array
          items:
            $ref: "#/components/schemas/Booking"
        savedExperiences:
          type: array
          items:
            $ref: "#/components/schemas/Experience"
        stats:
          type: object
          properties:
            totalBookings:
              type: integer
            totalSaved:
              type: integer
